.contact-header, .email-direct {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color:  rgb(255, 0, 0);
  background-color: black;
  width: 40%; /* Set the width of the background color */
  margin-left: auto; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
}
/* Styling for the custom send message button */
.custom-send-message-button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  transition-duration: 0.4s;
  /* margin-bottom: 25px; */
  /* z-index: 1; Set a higher z-index value for the button */
}
/* Styling for the custom send message button when hovered over */
.custom-send-message-button:hover {
  background-color: #16651a;
  color: white;
}

.formClass, .mx-auto{
 /* margin-bottom: auto; */
 padding-bottom: 25px;
 margin-bottom: 5rem;

}

.error-text {
text-align: center;
}