/* Styling for resume section heading */
.resume-section h1 {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 50px;
}
/* Set margin top and bottom for resume section */
.resume-margin {
  margin-top: 100px;
  margin-bottom: 200px;
}

.resume-header {
  text-align: center;
  color:  rgb(255, 0, 0);
  background-color: black;
  width: 18%; /* Set the width of the background color */
  margin-left: auto; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
  border:rgb(255, 0, 0) solid 3px;
  border-radius: 20px;
}

/* Styling for the resume section container */
.resume-item, .resume-skills {
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: black;
  color: rgb(255, 0, 0);
  text-align: center;
  width: 60%; /* Set the width of the background color */
  margin-left: auto; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
  border:rgb(255, 0, 0) solid 3px;
  border-radius: 20px;
}

.resumeBtn{
background-color: blue;
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
padding: 10px 24px;
border: white, solid, 3px;
border-radius: 4px;
  transition-duration: 0.4s
}

.resumeBtn:hover {
  background-color:white;
  color: blue;
}

.lottie-icon-3 {
  height: 200px;
  width: 200px;
}